.nf-realistic-field.nf-realistic-field--label-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .nf-realistic-field--label {
        order: 4;
        width: 35%;
        padding-left: 2%;
    }

    .nf-realistic-field--element {
        order: 3;
        width: 65%;
    }    

    .nf-realistic-field--description {
        order: 5;
        width: 100%;
        margin-left: 35%;
    }
}

/**
 * Checkbox
 */

.nf-field-wrap.checkbox .nf-realistic-field.nf-realistic-field--label-right {
    align-items: flex-start;

    .nf-realistic-field--label {
        order: 4;
        width: auto;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 0;

        .nf-field-label {
            width: 100%;
        }
    }

    .nf-realistic-field--element {
        order: 3;
        width: auto;
    }    

    .nf-realistic-field--description {
        order: 5;
        width: auto;
        margin-left: 0;
    }
}